system/system/priv-app/GmsCore/GmsCore.apk
system/system/priv-app/ZuiWallpaperSetting/ZuiWallpaperSetting.apk
system/system/priv-app/ZuiCamera2/ZuiCamera2.apk
system/system/app/WebViewGoogle/WebViewGoogle.apk
